body {
    margin: 0;
    padding: 0;
    font-family: Verdana;
    background: #262626;
}
.container {
    width: 100%;
    height: 200px;
    display: flex;
    box-sizing: border-box;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.box {
    width: auto;
    text-align: center;
    line-height: 200px;
    flex-grow: 1;
    transition: .5s;
    font-size: 1.2em;
    color: #fff;
    background: #f00;
}
.box:hover {
    flex-grow: 4;
    max-width: 100%;
    font-size: 2em;
}
.container .box:nth-child(1) {
    background: #f1c40f;
}
.container .box:nth-child(2) {
    background: #9b59b6;
}
.container .box:nth-child(3) {
    background: #95a9a6;
}
.container .box:nth-child(4) {
    background: #16a085;
}
.container .box:nth-child(5) {
    background: #3498db;
}
.container .box:nth-child(6) {
    background: #e74c3c;
}
.container .box:nth-child(7) {
    background: #2980b9;
}
.container .box:nth-child(8) {
    background: #1abc9c;
}